<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather-icon.png">
    <title>About</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}

      <img class="portrait" src="/img/Copper.png">
    </div>

    {{>footer}}
  </body>

</html>